/**
*
* spacing.css
* @author - Lameen
* @date - 06/02/2023
**/

.mt-10 {
    margin-top: 10px;
}
.mt-20 {
    margin-top: 20px;
}
.mt-15 {
    margin-top: 25px;
}
.mt-35 {
    margin-top: 35px;
}
.mr-20 {
    margin-right: 20px;
}
.ml-15 {
    margin-left: 10px;
}
.mb-12 {
    margin-bottom: 12px;
}
.mb-25 {
    margin-bottom: 25px;
}
.pt-15 {
    padding-top: 15px;
}